@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2); 
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
   background:rgba(255, 165, 0,.2); 
  color:var(--orange);
}

header{
  position: fixed;
  top:0; left: 0; right:0;
   background:rgb(4, 140, 244); 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:var(--orange);
}

header .navbar a{
  color:rgb(197, 219, 216);
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}





#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:var(--orange);
}

.about .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.about .row .image{
  flex:1 1 40rem;
}

.about .row .image img{
  width:100%;
}

.about .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.about .row form .inputBox{
  padding:.5rem 0;
}

.about .row form .inputBox input{
  width:100%;
  padding:1.05rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.about .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.services .box-container{
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  ;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:var(--orange);
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:rgb(215, 20, 20);
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:rgb(19, 18, 18);
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 5rem rgba(246, 6, 6, 0.1);

}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .contact .row .contact-info .box{
    margin:4rem 2rem;
  }
  
  .contact .row .contact-info .box h3{
    font-size: 2rem;
    color:#333;
  }
  
  .contact .row .contact-info .box h3 i{
    color:#0098a1;
  }
  
  .contact .row .contact-info .box p{
    padding-left: 3rem;
    font-size: 1.7rem;
    color:#aaa;
  }
  
  .contact .row .contact-form-container{
    
    width:50%;
  }
  
  .contact .row .contact-form-container h3{
    font-size: 4rem;
    padding-top: 2rem;
    color:#0098a1;
  } 
  
  .contact .row .contact-form-container .inputBox{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  .contact .row .contact-form-container .inputBox input{
    width:49%;
  }
  
  .contact .row .contact-form-container form input, textarea{
    outline: none;
    border:.2rem solid #0098a1;
    height:4rem;
    background:#fff;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.8rem;
  }
  
  .contact .row .contact-form-container form textarea{
    width:100%;
    padding:1rem;
    resize: none;
    height:5%;
  }
  
  .contact .row .contact-form-container form input[type="submit"]{
    color:#0ee4f0;
    border:.2rem solid #37e4ed;
    cursor: pointer;
    transition: .2s;
    width:20rem;
  }
  
  .contact .row .contact-form-container form input[type="submit"]:hover{
    color:#fff;
    background:#0098a1;
  }
  .newsletter{
    background:var(--red);
    padding:3rem;
  }
  
  .newsletter .box{
    width: 100%;
    padding:2rem;
    text-align: center;
    border-radius: 1rem;
    background:#1adfed;
  }
  
  .newsletter .box h1{
    color:var(--red);
    font-size: 4rem;
  }
  
  .newsletter .box p{
    color:rgb(102, 102, 102);
    font-size: 1.8rem;
  }
  
  .newsletter .box form{
    background:#eee;
    width:60%;
    margin:2rem auto;
    padding:.5rem 0;
    height:5rem;
    border-radius: 5rem;
  }
  
  .newsletter .box form input[type="email"]{
    width: 71%;
    background:none;
    padding:.5rem;
    font-size: 1.5rem;
  }
  
  .newsletter .box form .btn{
    height:90%;
    width: 26%;
    border-radius: 5rem;
    margin:.1rem 0;
    box-shadow: none;
  }
  
  .book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .book .row .image{
    flex:1 1 40rem;
  }
  
  .book .row .image img{
    width:100%;
  }
  
  .book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  
  .book .row form .inputBox{
    padding:.5rem 0;
  }
  
  .book .row form .inputBox input{
    width:100%;
    padding:1.05rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
  }
  
  .book .row form .inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color:#666;
  }
  
  .footer{
    background:rgb(4, 140, 244);
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--orange);
  }
  
  
  
  
  
    